# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore

/bhsclassof1985/web.config
/whsclassof1985/web.config
/bhsclassof1985/php_errors.log
/whsclassof1985/php_errors.log
bhsclassof1985/php_errors.log
whsclassof1985/php_errors.log
bhsclassof1985/web.config
whsclassof1985/web.config
